body {
    background-image: url("../img/pizzaplanet.jpg");
    /*background-repeat: repeat-x;*/
}

.receipt {
  display: none;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: helvetica;
  text-align: center;
}
